body {
  background-color: rgb(27, 15, 15);
}

.table_container {
  color: rgb(194, 194, 0);

  height: 5rem;
  display: flex;
  justify-content: center;
}
.table_container .spinner {
  border: 10px solid red;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

table{
  border: 5px solid rgb(204, 215, 0);
  border-radius: 10px;
 
 }
 th{
  border-right: 1px solid rgb(14, 14, 12);
  background-color: rgb(149, 149, 0);
  color: black;
  padding: 1rem;
 }
 td{
  border-right: 1px solid rgb(223, 0, 52);
  border-bottom: 1px solid rgb(216, 9, 9);
  padding: 1rem;
 }
 .tableData{
  display: flex;
  flex-direction: column;
  align-items: center;
    gap: 2rem;
 }
 .tableData input{
  width: 50%;
  padding: 0.7rem;
  border-radius: 10px;
 }